<h3>results for <%= search_input %></h3>

<p>Title: <%= book.title %></p>
<p>Author(s):  <% book.author.each do |author| %>
                    <%= author %>
                <% end %>
</p>
<p>Genres: <%= book.genres %></p>
